body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17576 {
  position:absolute;
  left:158px;
  top:73px;
  width:1142px;
  height:590px;
}
#u17577 {
  position:absolute;
  left:2px;
  top:287px;
  width:1138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17578_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:9px;
}
#u17578 {
  position:absolute;
  left:230px;
  top:6px;
  width:33px;
  height:4px;
}
#u17579 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u17580 {
  position:absolute;
  left:158px;
  top:48px;
  width:175px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u17581 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u17583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:907px;
}
#u17583 {
  position:absolute;
  left:0px;
  top:41px;
  width:150px;
  height:907px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17583_img.mouseOver {
}
#u17583.mouseOver {
}
#u17584 {
  position:absolute;
  left:2px;
  top:446px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u17585 {
  position:absolute;
  left:19px;
  top:111px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17585_img.mouseOver {
}
#u17585.mouseOver {
}
#u17586 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u17587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17587 {
  position:absolute;
  left:19px;
  top:78px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17587_img.mouseOver {
}
#u17587.mouseOver {
}
#u17588 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u17589 {
  position:absolute;
  left:31px;
  top:171px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17589_img.mouseOver {
}
#u17589.mouseOver {
}
#u17590 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u17591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u17591 {
  position:absolute;
  left:122px;
  top:54px;
  width:11px;
  height:8px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u17592 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u17593 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u17594 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u17595 {
  position:absolute;
  left:31px;
  top:199px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17595_img.mouseOver {
}
#u17595.mouseOver {
}
#u17596 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u17597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17597 {
  position:absolute;
  left:19px;
  top:603px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17597_img.mouseOver {
}
#u17597.mouseOver {
}
#u17598 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u17599 {
  position:absolute;
  left:19px;
  top:227px;
  width:171px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17600 {
  position:absolute;
  left:2px;
  top:6px;
  width:167px;
  word-wrap:break-word;
}
#u17601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u17601 {
  position:absolute;
  left:17px;
  top:334px;
  width:163px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17602 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u17603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u17603 {
  position:absolute;
  left:0px;
  top:43px;
  width:149px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u17604 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u17605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u17605 {
  position:absolute;
  left:19px;
  top:143px;
  width:151px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17606 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u17607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u17607 {
  position:absolute;
  left:20px;
  top:422px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17608 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u17609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17609 {
  position:absolute;
  left:38px;
  top:453px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17609_img.mouseOver {
}
#u17609.mouseOver {
}
#u17610 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17611 {
  position:absolute;
  left:38px;
  top:482px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17611_img.mouseOver {
}
#u17611.mouseOver {
}
#u17612 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17613 {
  position:absolute;
  left:38px;
  top:511px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17613_img.mouseOver {
}
#u17613.mouseOver {
}
#u17614 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17615 {
  position:absolute;
  left:38px;
  top:539px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17615_img.mouseOver {
}
#u17615.mouseOver {
}
#u17616 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u17617 {
  position:absolute;
  left:20px;
  top:392px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17617_img.mouseOver {
}
#u17617.mouseOver {
}
#u17618 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u17619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17619 {
  position:absolute;
  left:20px;
  top:569px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17619_img.mouseOver {
}
#u17619.mouseOver {
}
#u17620 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u17621 {
  position:absolute;
  left:20px;
  top:673px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17622 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u17623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17623 {
  position:absolute;
  left:40px;
  top:707px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17623_img.mouseOver {
}
#u17623.mouseOver {
}
#u17624 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17625 {
  position:absolute;
  left:40px;
  top:735px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17625_img.mouseOver {
}
#u17625.mouseOver {
}
#u17626 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u17627 {
  position:absolute;
  left:40px;
  top:765px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u17627_img.mouseOver {
}
#u17627.mouseOver {
}
#u17628 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u17629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u17629 {
  position:absolute;
  left:40px;
  top:795px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u17629_img.mouseOver {
}
#u17629.mouseOver {
}
#u17630 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u17631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17631 {
  position:absolute;
  left:20px;
  top:825px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17631_img.mouseOver {
}
#u17631.mouseOver {
}
#u17632 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17633 {
  position:absolute;
  left:20px;
  top:855px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17633_img.mouseOver {
}
#u17633.mouseOver {
}
#u17634 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17635 {
  position:absolute;
  left:20px;
  top:885px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17635_img.mouseOver {
}
#u17635.mouseOver {
}
#u17636 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u17637 {
  position:absolute;
  left:20px;
  top:638px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u17637_img.mouseOver {
}
#u17637.mouseOver {
}
#u17638 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u17639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u17639 {
  position:absolute;
  left:35px;
  top:280px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17639_img.mouseOver {
}
#u17639.mouseOver {
}
#u17640 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u17641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17641 {
  position:absolute;
  left:36px;
  top:360px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17641_img.mouseOver {
}
#u17641.mouseOver {
}
#u17642 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u17643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u17643 {
  position:absolute;
  left:35px;
  top:252px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17643_img.mouseOver {
}
#u17643.mouseOver {
}
#u17644 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u17645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u17645 {
  position:absolute;
  left:34px;
  top:306px;
  width:131px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u17645_img.mouseOver {
}
#u17645.mouseOver {
}
#u17646 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u17647 {
  position:absolute;
  left:29px;
  top:75px;
  width:120px;
  height:30px;
}
#u17647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background-color:#FFFF66;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17647_input:disabled {
  color:grayText;
}
#u17648_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:35px;
}
#u17648 {
  position:absolute;
  left:168px;
  top:85px;
  width:5px;
  height:30px;
  font-size:14px;
}
#u17649 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17650 {
  position:absolute;
  left:180px;
  top:88px;
  width:152px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17651 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u17652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:511px;
}
#u17652 {
  position:absolute;
  left:167px;
  top:120px;
  width:1124px;
  height:511px;
}
#u17653 {
  position:absolute;
  left:2px;
  top:248px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u17655 {
  position:absolute;
  left:20px;
  top:4px;
  width:30px;
  height:30px;
}
#u17656 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:2px;
}
#u17657 {
  position:absolute;
  left:0px;
  top:40px;
  width:1349px;
  height:1px;
}
#u17658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u17659 {
  position:absolute;
  left:60px;
  top:11px;
  width:81px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17660 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17661 {
  position:absolute;
  left:230px;
  top:11px;
  width:33px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17662 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u17663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u17663 {
  position:absolute;
  left:360px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17664 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u17665 {
  position:absolute;
  left:1217px;
  top:14px;
  width:99px;
  height:17px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u17666 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u17667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u17667 {
  position:absolute;
  left:1316px;
  top:18px;
  width:11px;
  height:7px;
  font-size:10px;
}
#u17668 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17670 {
  position:absolute;
  left:0px;
  top:705px;
  width:149px;
  height:30px;
}
#u17671 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17672 {
  position:absolute;
  left:0px;
  top:705px;
  width:7px;
  height:29px;
}
#u17673 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17674 {
  position:absolute;
  left:189px;
  top:240px;
  width:135px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17675 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  white-space:nowrap;
}
