body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1173px;
  height:1887px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18128 {
  position:absolute;
  left:158px;
  top:73px;
  width:1173px;
  height:1887px;
}
#u18129 {
  position:absolute;
  left:2px;
  top:936px;
  width:1169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u18130 {
  position:absolute;
  left:158px;
  top:48px;
  width:175px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u18131 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u18133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:907px;
}
#u18133 {
  position:absolute;
  left:0px;
  top:41px;
  width:150px;
  height:907px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18133_img.mouseOver {
}
#u18133.mouseOver {
}
#u18134 {
  position:absolute;
  left:2px;
  top:446px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u18135 {
  position:absolute;
  left:19px;
  top:111px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18135_img.mouseOver {
}
#u18135.mouseOver {
}
#u18136 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u18137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18137 {
  position:absolute;
  left:19px;
  top:78px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18137_img.mouseOver {
}
#u18137.mouseOver {
}
#u18138 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u18139 {
  position:absolute;
  left:31px;
  top:171px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18139_img.mouseOver {
}
#u18139.mouseOver {
}
#u18140 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u18141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u18141 {
  position:absolute;
  left:122px;
  top:54px;
  width:11px;
  height:8px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18142 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u18143 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u18144 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u18145 {
  position:absolute;
  left:31px;
  top:199px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18145_img.mouseOver {
}
#u18145.mouseOver {
}
#u18146 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u18147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18147 {
  position:absolute;
  left:19px;
  top:603px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18147_img.mouseOver {
}
#u18147.mouseOver {
}
#u18148 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u18149 {
  position:absolute;
  left:19px;
  top:227px;
  width:171px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18150 {
  position:absolute;
  left:2px;
  top:6px;
  width:167px;
  word-wrap:break-word;
}
#u18151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u18151 {
  position:absolute;
  left:17px;
  top:334px;
  width:163px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18152 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u18153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u18153 {
  position:absolute;
  left:0px;
  top:43px;
  width:149px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u18154 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u18155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u18155 {
  position:absolute;
  left:19px;
  top:143px;
  width:151px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18156 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u18157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18157 {
  position:absolute;
  left:20px;
  top:422px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18158 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u18159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18159 {
  position:absolute;
  left:38px;
  top:453px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18159_img.mouseOver {
}
#u18159.mouseOver {
}
#u18160 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18161 {
  position:absolute;
  left:38px;
  top:482px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18161_img.mouseOver {
}
#u18161.mouseOver {
}
#u18162 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18163 {
  position:absolute;
  left:38px;
  top:511px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18163_img.mouseOver {
}
#u18163.mouseOver {
}
#u18164 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18165 {
  position:absolute;
  left:38px;
  top:539px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18165_img.mouseOver {
}
#u18165.mouseOver {
}
#u18166 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u18167 {
  position:absolute;
  left:20px;
  top:392px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18167_img.mouseOver {
}
#u18167.mouseOver {
}
#u18168 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u18169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18169 {
  position:absolute;
  left:20px;
  top:569px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18169_img.mouseOver {
}
#u18169.mouseOver {
}
#u18170 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18171 {
  position:absolute;
  left:20px;
  top:673px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18172 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u18173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18173 {
  position:absolute;
  left:40px;
  top:707px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18173_img.mouseOver {
}
#u18173.mouseOver {
}
#u18174 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18175 {
  position:absolute;
  left:40px;
  top:735px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18175_img.mouseOver {
}
#u18175.mouseOver {
}
#u18176 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18177 {
  position:absolute;
  left:40px;
  top:765px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u18177_img.mouseOver {
}
#u18177.mouseOver {
}
#u18178 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u18179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18179 {
  position:absolute;
  left:40px;
  top:795px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u18179_img.mouseOver {
}
#u18179.mouseOver {
}
#u18180 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u18181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18181 {
  position:absolute;
  left:20px;
  top:825px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18181_img.mouseOver {
}
#u18181.mouseOver {
}
#u18182 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18183 {
  position:absolute;
  left:20px;
  top:855px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18183_img.mouseOver {
}
#u18183.mouseOver {
}
#u18184 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18185 {
  position:absolute;
  left:20px;
  top:885px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18185_img.mouseOver {
}
#u18185.mouseOver {
}
#u18186 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u18187 {
  position:absolute;
  left:20px;
  top:638px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u18187_img.mouseOver {
}
#u18187.mouseOver {
}
#u18188 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u18189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u18189 {
  position:absolute;
  left:35px;
  top:280px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18189_img.mouseOver {
}
#u18189.mouseOver {
}
#u18190 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u18191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u18191 {
  position:absolute;
  left:36px;
  top:360px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18191_img.mouseOver {
}
#u18191.mouseOver {
}
#u18192 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u18193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u18193 {
  position:absolute;
  left:35px;
  top:252px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18193_img.mouseOver {
}
#u18193.mouseOver {
}
#u18194 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u18195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u18195 {
  position:absolute;
  left:34px;
  top:306px;
  width:131px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18195_img.mouseOver {
}
#u18195.mouseOver {
}
#u18196 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u18197 {
  position:absolute;
  left:29px;
  top:75px;
  width:120px;
  height:30px;
}
#u18197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background-color:#FFFF66;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18197_input:disabled {
  color:grayText;
}
#u18198_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:35px;
}
#u18198 {
  position:absolute;
  left:171px;
  top:85px;
  width:5px;
  height:30px;
  font-size:14px;
}
#u18199 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18200 {
  position:absolute;
  left:180px;
  top:88px;
  width:231px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18201 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u18202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:414px;
}
#u18202 {
  position:absolute;
  left:174px;
  top:669px;
  width:1133px;
  height:414px;
}
#u18203 {
  position:absolute;
  left:2px;
  top:199px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:537px;
}
#u18204 {
  position:absolute;
  left:165px;
  top:122px;
  width:1129px;
  height:537px;
}
#u18205 {
  position:absolute;
  left:2px;
  top:260px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:548px;
}
#u18206 {
  position:absolute;
  left:180px;
  top:1383px;
  width:1128px;
  height:548px;
}
#u18207 {
  position:absolute;
  left:2px;
  top:266px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:324px;
}
#u18208 {
  position:absolute;
  left:180px;
  top:1067px;
  width:1143px;
  height:324px;
}
#u18209 {
  position:absolute;
  left:2px;
  top:154px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u18211 {
  position:absolute;
  left:20px;
  top:4px;
  width:30px;
  height:30px;
}
#u18212 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:2px;
}
#u18213 {
  position:absolute;
  left:0px;
  top:40px;
  width:1349px;
  height:1px;
}
#u18214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u18215 {
  position:absolute;
  left:60px;
  top:11px;
  width:81px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18216 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u18217 {
  position:absolute;
  left:230px;
  top:11px;
  width:33px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18218 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u18219 {
  position:absolute;
  left:360px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18220 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u18221 {
  position:absolute;
  left:1217px;
  top:14px;
  width:99px;
  height:17px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u18222 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u18223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u18223 {
  position:absolute;
  left:1316px;
  top:18px;
  width:11px;
  height:7px;
  font-size:10px;
}
#u18224 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18225_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:9px;
}
#u18225 {
  position:absolute;
  left:230px;
  top:6px;
  width:33px;
  height:4px;
}
#u18226 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18228 {
  position:absolute;
  left:0px;
  top:736px;
  width:149px;
  height:30px;
}
#u18229 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18230 {
  position:absolute;
  left:0px;
  top:736px;
  width:7px;
  height:29px;
}
#u18231 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18232 {
  position:absolute;
  left:1300px;
  top:51px;
  width:31px;
  height:20px;
}
#u18233 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
