body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22083 {
  position:absolute;
  left:-1px;
  top:45px;
  width:150px;
  height:985px;
}
#u22084 {
  position:absolute;
  left:2px;
  top:484px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u22085 {
  position:absolute;
  left:68px;
  top:56px;
  width:11px;
  height:8px;
}
#u22086 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u22087 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
}
#u22088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:297px;
}
#u22089 {
  position:absolute;
  left:159px;
  top:120px;
  width:1127px;
  height:297px;
}
#u22090 {
  position:absolute;
  left:2px;
  top:140px;
  width:1123px;
  visibility:hidden;
  word-wrap:break-word;
}
