body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2036px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19112 {
  position:absolute;
  left:158px;
  top:73px;
  width:1142px;
  height:2036px;
}
#u19113 {
  position:absolute;
  left:2px;
  top:1010px;
  width:1138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19114_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:9px;
}
#u19114 {
  position:absolute;
  left:230px;
  top:6px;
  width:33px;
  height:4px;
}
#u19115 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19116 {
  position:absolute;
  left:158px;
  top:48px;
  width:175px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19117 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u19119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:907px;
}
#u19119 {
  position:absolute;
  left:0px;
  top:41px;
  width:150px;
  height:907px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19119_img.mouseOver {
}
#u19119.mouseOver {
}
#u19120 {
  position:absolute;
  left:2px;
  top:446px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u19121 {
  position:absolute;
  left:19px;
  top:111px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19121_img.mouseOver {
}
#u19121.mouseOver {
}
#u19122 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u19123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19123 {
  position:absolute;
  left:19px;
  top:78px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19123_img.mouseOver {
}
#u19123.mouseOver {
}
#u19124 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u19125 {
  position:absolute;
  left:31px;
  top:171px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19125_img.mouseOver {
}
#u19125.mouseOver {
}
#u19126 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u19127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u19127 {
  position:absolute;
  left:122px;
  top:54px;
  width:11px;
  height:8px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u19128 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u19129 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u19130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u19131 {
  position:absolute;
  left:31px;
  top:199px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19131_img.mouseOver {
}
#u19131.mouseOver {
}
#u19132 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u19133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19133 {
  position:absolute;
  left:19px;
  top:603px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19133_img.mouseOver {
}
#u19133.mouseOver {
}
#u19134 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u19135 {
  position:absolute;
  left:19px;
  top:227px;
  width:171px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19136 {
  position:absolute;
  left:2px;
  top:6px;
  width:167px;
  word-wrap:break-word;
}
#u19137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u19137 {
  position:absolute;
  left:17px;
  top:334px;
  width:163px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19138 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u19139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u19139 {
  position:absolute;
  left:0px;
  top:43px;
  width:149px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u19140 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u19141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u19141 {
  position:absolute;
  left:19px;
  top:143px;
  width:151px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19142 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u19143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19143 {
  position:absolute;
  left:20px;
  top:422px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19144 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u19145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19145 {
  position:absolute;
  left:38px;
  top:453px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19145_img.mouseOver {
}
#u19145.mouseOver {
}
#u19146 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19147 {
  position:absolute;
  left:38px;
  top:482px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19147_img.mouseOver {
}
#u19147.mouseOver {
}
#u19148 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19149 {
  position:absolute;
  left:38px;
  top:511px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19149_img.mouseOver {
}
#u19149.mouseOver {
}
#u19150 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19151 {
  position:absolute;
  left:38px;
  top:539px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19151_img.mouseOver {
}
#u19151.mouseOver {
}
#u19152 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u19153 {
  position:absolute;
  left:20px;
  top:392px;
  width:102px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19153_img.mouseOver {
}
#u19153.mouseOver {
}
#u19154 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u19155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19155 {
  position:absolute;
  left:20px;
  top:569px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19155_img.mouseOver {
}
#u19155.mouseOver {
}
#u19156 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19157 {
  position:absolute;
  left:20px;
  top:673px;
  width:150px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19158 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u19159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19159 {
  position:absolute;
  left:40px;
  top:707px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19159_img.mouseOver {
}
#u19159.mouseOver {
}
#u19160 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19161 {
  position:absolute;
  left:40px;
  top:735px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19161_img.mouseOver {
}
#u19161.mouseOver {
}
#u19162 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u19163 {
  position:absolute;
  left:40px;
  top:765px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19163_img.mouseOver {
}
#u19163.mouseOver {
}
#u19164 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u19165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u19165 {
  position:absolute;
  left:40px;
  top:795px;
  width:125px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19165_img.mouseOver {
}
#u19165.mouseOver {
}
#u19166 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u19167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19167 {
  position:absolute;
  left:20px;
  top:825px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19167_img.mouseOver {
}
#u19167.mouseOver {
}
#u19168 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19169 {
  position:absolute;
  left:20px;
  top:855px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19169_img.mouseOver {
}
#u19169.mouseOver {
}
#u19170 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19171 {
  position:absolute;
  left:20px;
  top:885px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19171_img.mouseOver {
}
#u19171.mouseOver {
}
#u19172 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u19173 {
  position:absolute;
  left:20px;
  top:638px;
  width:126px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u19173_img.mouseOver {
}
#u19173.mouseOver {
}
#u19174 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u19175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u19175 {
  position:absolute;
  left:35px;
  top:280px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19175_img.mouseOver {
}
#u19175.mouseOver {
}
#u19176 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u19177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u19177 {
  position:absolute;
  left:36px;
  top:360px;
  width:101px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19177_img.mouseOver {
}
#u19177.mouseOver {
}
#u19178 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u19179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u19179 {
  position:absolute;
  left:35px;
  top:252px;
  width:121px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19179_img.mouseOver {
}
#u19179.mouseOver {
}
#u19180 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u19181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u19181 {
  position:absolute;
  left:34px;
  top:306px;
  width:131px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19181_img.mouseOver {
}
#u19181.mouseOver {
}
#u19182 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u19183 {
  position:absolute;
  left:29px;
  top:75px;
  width:120px;
  height:30px;
}
#u19183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background-color:#FFFF66;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19183_input:disabled {
  color:grayText;
}
#u19184_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:35px;
}
#u19184 {
  position:absolute;
  left:168px;
  top:84px;
  width:5px;
  height:30px;
  font-size:14px;
}
#u19185 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19186 {
  position:absolute;
  left:180px;
  top:88px;
  width:163px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19187 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u19188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:316px;
}
#u19188 {
  position:absolute;
  left:165px;
  top:120px;
  width:805px;
  height:316px;
}
#u19189 {
  position:absolute;
  left:2px;
  top:150px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:365px;
}
#u19190 {
  position:absolute;
  left:180px;
  top:419px;
  width:1073px;
  height:365px;
}
#u19191 {
  position:absolute;
  left:2px;
  top:174px;
  width:1069px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:541px;
}
#u19192 {
  position:absolute;
  left:180px;
  top:778px;
  width:1099px;
  height:541px;
}
#u19193 {
  position:absolute;
  left:2px;
  top:262px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:388px;
}
#u19194 {
  position:absolute;
  left:180px;
  top:1357px;
  width:954px;
  height:388px;
}
#u19195 {
  position:absolute;
  left:2px;
  top:186px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:283px;
}
#u19196 {
  position:absolute;
  left:180px;
  top:1775px;
  width:1112px;
  height:283px;
}
#u19197 {
  position:absolute;
  left:2px;
  top:134px;
  width:1108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19199 {
  position:absolute;
  left:20px;
  top:4px;
  width:30px;
  height:30px;
}
#u19200 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:2px;
}
#u19201 {
  position:absolute;
  left:0px;
  top:40px;
  width:1349px;
  height:1px;
}
#u19202 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u19203 {
  position:absolute;
  left:60px;
  top:11px;
  width:81px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19204 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u19205 {
  position:absolute;
  left:230px;
  top:11px;
  width:33px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19206 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19207 {
  position:absolute;
  left:360px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19208 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u19209 {
  position:absolute;
  left:1217px;
  top:14px;
  width:99px;
  height:17px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u19210 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u19211 {
  position:absolute;
  left:1316px;
  top:18px;
  width:11px;
  height:7px;
  font-size:10px;
}
#u19212 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19214 {
  position:absolute;
  left:0px;
  top:795px;
  width:149px;
  height:30px;
}
#u19215 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19216 {
  position:absolute;
  left:0px;
  top:795px;
  width:7px;
  height:29px;
}
#u19217 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19218 {
  position:absolute;
  left:1257px;
  top:53px;
  width:31px;
  height:20px;
}
#u19219 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
