body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1286px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22070 {
  position:absolute;
  left:-1px;
  top:45px;
  width:150px;
  height:985px;
}
#u22071 {
  position:absolute;
  left:2px;
  top:484px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u22072 {
  position:absolute;
  left:68px;
  top:56px;
  width:11px;
  height:8px;
}
#u22073 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u22074 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
}
#u22075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:345px;
}
#u22076 {
  position:absolute;
  left:168px;
  top:410px;
  width:492px;
  height:345px;
}
#u22077 {
  position:absolute;
  left:2px;
  top:164px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:295px;
}
#u22078 {
  position:absolute;
  left:159px;
  top:75px;
  width:1128px;
  height:295px;
}
#u22079 {
  position:absolute;
  left:2px;
  top:140px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22080_img {
  position:absolute;
  left:-10px;
  top:-20px;
  width:229px;
  height:41px;
}
#u22080p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:201px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22080p000_img {
  position:absolute;
  left:-15px;
  top:-25px;
  width:231px;
  height:41px;
}
#u22080p001 {
  position:absolute;
  left:88px;
  top:-108px;
  width:22px;
  height:22px;
}
#u22080p001_img {
  position:absolute;
  left:-10px;
  top:-20px;
  width:52px;
  height:62px;
}
#u22080p002 {
  position:absolute;
  left:78px;
  top:73px;
  width:42px;
  height:42px;
}
#u22080p002_img {
  position:absolute;
  left:-10px;
  top:-20px;
  width:72px;
  height:82px;
}
#u22080.compound {
  width:0px;
  height:0px;
}
#u22080 {
  position:absolute;
  left:111px;
  top:300px;
  width:199px;
  height:1px;
  color:#FF6633;
}
#u22081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
