body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25352 {
  position:absolute;
  left:-1px;
  top:45px;
  width:150px;
  height:985px;
}
#u25353 {
  position:absolute;
  left:2px;
  top:484px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u25354 {
  position:absolute;
  left:68px;
  top:56px;
  width:11px;
  height:8px;
}
#u25355 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u25356 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
}
#u25357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25358 {
  position:absolute;
  left:189px;
  top:84px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25359 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25360 {
  position:absolute;
  left:170px;
  top:84px;
  width:9px;
  height:28px;
}
#u25361 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:376px;
}
#u25362 {
  position:absolute;
  left:170px;
  top:325px;
  width:810px;
  height:376px;
}
#u25363 {
  position:absolute;
  left:2px;
  top:180px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25364 {
  position:absolute;
  left:600px;
  top:131px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25365 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25366 {
  position:absolute;
  left:180px;
  top:131px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25367 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25368 {
  position:absolute;
  left:180px;
  top:753px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25369 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25370 {
  position:absolute;
  left:180px;
  top:290px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25371 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25372 {
  position:absolute;
  left:600px;
  top:245px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25373 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25374 {
  position:absolute;
  left:180px;
  top:245px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25375 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25376 {
  position:absolute;
  left:273px;
  top:290px;
  width:687px;
  height:25px;
}
#u25376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25377 {
  position:absolute;
  left:273px;
  top:131px;
  width:280px;
  height:25px;
}
#u25377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25378 {
  position:absolute;
  left:680px;
  top:131px;
  width:280px;
  height:25px;
}
#u25378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25379 {
  position:absolute;
  left:600px;
  top:166px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25380 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25381 {
  position:absolute;
  left:680px;
  top:166px;
  width:280px;
  height:25px;
}
#u25381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25382 {
  position:absolute;
  left:180px;
  top:205px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25383 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25384 {
  position:absolute;
  left:180px;
  top:166px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25385 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25386 {
  position:absolute;
  left:273px;
  top:205px;
  width:280px;
  height:25px;
}
#u25386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25387 {
  position:absolute;
  left:600px;
  top:205px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25388 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25389 {
  position:absolute;
  left:680px;
  top:205px;
  width:280px;
  height:25px;
}
#u25389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25390 {
  position:absolute;
  left:273px;
  top:169px;
  width:280px;
  height:22px;
}
#u25390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25390_input:disabled {
  color:grayText;
}
#u25391 {
  position:absolute;
  left:680px;
  top:248px;
  width:280px;
  height:22px;
}
#u25391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25391_input:disabled {
  color:grayText;
}
#u25392 {
  position:absolute;
  left:273px;
  top:254px;
  width:100px;
  height:16px;
}
#u25393 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25392_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25394 {
  position:absolute;
  left:373px;
  top:254px;
  width:100px;
  height:16px;
}
#u25395 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25394_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25396 {
  position:absolute;
  left:440px;
  top:254px;
  width:100px;
  height:16px;
}
#u25397 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25398 {
  position:absolute;
  left:600px;
  top:711px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25399 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25400 {
  position:absolute;
  left:280px;
  top:711px;
  width:280px;
  height:25px;
}
#u25400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25401 {
  position:absolute;
  left:180px;
  top:711px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25402 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25403 {
  position:absolute;
  left:689px;
  top:720px;
  width:100px;
  height:16px;
}
#u25404 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25403_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25405 {
  position:absolute;
  left:750px;
  top:720px;
  width:100px;
  height:16px;
}
#u25406 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25405_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25407 {
  position:absolute;
  left:289px;
  top:762px;
  width:100px;
  height:16px;
}
#u25408 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25407_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25409 {
  position:absolute;
  left:363px;
  top:762px;
  width:100px;
  height:16px;
}
#u25410 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25409_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25411 {
  position:absolute;
  left:164px;
  top:783px;
  width:800px;
  height:157px;
  overflow:hidden;
  visibility:hidden;
}
#u25411_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25411_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25412 {
  position:absolute;
  left:14px;
  top:15px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25413 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25414 {
  position:absolute;
  left:14px;
  top:60px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25415 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25416 {
  position:absolute;
  left:120px;
  top:70px;
  width:300px;
  height:80px;
}
#u25416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25417 {
  position:absolute;
  left:120px;
  top:18px;
  width:300px;
  height:22px;
}
#u25417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25417_input:disabled {
  color:grayText;
}
#u25418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25418 {
  position:absolute;
  left:164px;
  top:946px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u25419 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u25420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25420 {
  position:absolute;
  left:268px;
  top:946px;
  width:90px;
  height:40px;
}
#u25421 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
