body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25423 {
  position:absolute;
  left:-1px;
  top:45px;
  width:150px;
  height:985px;
}
#u25424 {
  position:absolute;
  left:2px;
  top:484px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u25425 {
  position:absolute;
  left:68px;
  top:56px;
  width:11px;
  height:8px;
}
#u25426 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u25427 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
}
#u25428 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25429 {
  position:absolute;
  left:189px;
  top:84px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25430 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25431 {
  position:absolute;
  left:170px;
  top:84px;
  width:9px;
  height:28px;
}
#u25432 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25433 {
  position:absolute;
  left:170px;
  top:84px;
  width:9px;
  height:28px;
}
#u25434 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:376px;
}
#u25435 {
  position:absolute;
  left:170px;
  top:325px;
  width:810px;
  height:376px;
}
#u25436 {
  position:absolute;
  left:2px;
  top:180px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25437 {
  position:absolute;
  left:600px;
  top:131px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25438 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25439 {
  position:absolute;
  left:180px;
  top:131px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25440 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25441 {
  position:absolute;
  left:180px;
  top:753px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25442 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25443 {
  position:absolute;
  left:180px;
  top:290px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25444 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25445 {
  position:absolute;
  left:600px;
  top:245px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25446 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25447 {
  position:absolute;
  left:180px;
  top:245px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25448 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25449 {
  position:absolute;
  left:273px;
  top:290px;
  width:687px;
  height:25px;
}
#u25449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25450 {
  position:absolute;
  left:600px;
  top:166px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25451 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25452 {
  position:absolute;
  left:680px;
  top:166px;
  width:280px;
  height:25px;
}
#u25452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25453 {
  position:absolute;
  left:180px;
  top:205px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25454 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25455 {
  position:absolute;
  left:180px;
  top:166px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25456 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25457 {
  position:absolute;
  left:273px;
  top:205px;
  width:280px;
  height:25px;
}
#u25457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25458 {
  position:absolute;
  left:600px;
  top:205px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25459 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25460 {
  position:absolute;
  left:273px;
  top:169px;
  width:280px;
  height:22px;
}
#u25460_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25460_input:disabled {
  color:grayText;
}
#u25461 {
  position:absolute;
  left:680px;
  top:248px;
  width:280px;
  height:22px;
}
#u25461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25461_input:disabled {
  color:grayText;
}
#u25462 {
  position:absolute;
  left:273px;
  top:254px;
  width:100px;
  height:16px;
}
#u25463 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25462_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25464 {
  position:absolute;
  left:373px;
  top:254px;
  width:100px;
  height:16px;
}
#u25465 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25464_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25466 {
  position:absolute;
  left:440px;
  top:254px;
  width:100px;
  height:16px;
}
#u25467 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25466_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25468 {
  position:absolute;
  left:600px;
  top:711px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25469 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25470 {
  position:absolute;
  left:280px;
  top:711px;
  width:280px;
  height:25px;
}
#u25470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25471 {
  position:absolute;
  left:180px;
  top:711px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25472 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25473 {
  position:absolute;
  left:689px;
  top:720px;
  width:100px;
  height:16px;
}
#u25474 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25473_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25475 {
  position:absolute;
  left:750px;
  top:720px;
  width:100px;
  height:16px;
}
#u25476 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25475_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25477 {
  position:absolute;
  left:289px;
  top:762px;
  width:100px;
  height:16px;
}
#u25478 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25477_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25479 {
  position:absolute;
  left:363px;
  top:762px;
  width:100px;
  height:16px;
}
#u25480 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25479_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25481 {
  position:absolute;
  left:164px;
  top:783px;
  width:800px;
  height:157px;
  overflow:hidden;
  visibility:hidden;
}
#u25481_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25481_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25482 {
  position:absolute;
  left:14px;
  top:15px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25483 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25484 {
  position:absolute;
  left:14px;
  top:60px;
  width:126px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u25485 {
  position:absolute;
  left:0px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u25486 {
  position:absolute;
  left:120px;
  top:70px;
  width:300px;
  height:80px;
}
#u25486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25487 {
  position:absolute;
  left:120px;
  top:18px;
  width:300px;
  height:22px;
}
#u25487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25487_input:disabled {
  color:grayText;
}
#u25488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u25488 {
  position:absolute;
  left:164px;
  top:946px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u25489 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u25490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25490 {
  position:absolute;
  left:268px;
  top:946px;
  width:90px;
  height:40px;
}
#u25491 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u25492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u25492 {
  position:absolute;
  left:273px;
  top:136px;
  width:154px;
  height:16px;
  color:#000000;
}
#u25493 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u25494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u25494 {
  position:absolute;
  left:680px;
  top:136px;
  width:104px;
  height:16px;
  color:#000000;
}
#u25495 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u25496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u25496 {
  position:absolute;
  left:680px;
  top:214px;
  width:119px;
  height:16px;
  color:#000000;
}
#u25497 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u25498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u25498 {
  position:absolute;
  left:196px;
  top:484px;
  width:154px;
  height:16px;
  color:#000000;
}
#u25499 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
