body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24457 {
  position:absolute;
  left:-1px;
  top:45px;
  width:150px;
  height:985px;
}
#u24458 {
  position:absolute;
  left:2px;
  top:484px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u24459 {
  position:absolute;
  left:68px;
  top:56px;
  width:11px;
  height:8px;
}
#u24460 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u24461 {
  position:absolute;
  left:0px;
  top:75px;
  width:149px;
  height:1px;
}
#u24462 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:535px;
}
#u24463 {
  position:absolute;
  left:170px;
  top:55px;
  width:1166px;
  height:535px;
}
#u24464 {
  position:absolute;
  left:2px;
  top:260px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24465 {
  position:absolute;
  left:360px;
  top:55px;
  width:380px;
  height:35px;
}
#u24466 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
