body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5199 {
  position:absolute;
  left:0px;
  top:10px;
  width:150px;
  height:556px;
}
#u5200 {
  position:absolute;
  left:2px;
  top:270px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5201 {
  position:absolute;
  left:20px;
  top:50px;
  width:126px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u5202 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u5203 {
  position:absolute;
  left:20px;
  top:81px;
  width:102px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u5204 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u5205 {
  position:absolute;
  left:1px;
  top:40px;
  width:149px;
  height:1px;
}
#u5206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5207 {
  position:absolute;
  left:20px;
  top:114px;
  width:126px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u5208 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u5209 {
  position:absolute;
  left:11px;
  top:10px;
  width:102px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5210 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u5211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 51, 153, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5211 {
  position:absolute;
  left:1px;
  top:51px;
  width:149px;
  height:29px;
}
#u5212 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:572px;
}
#u5213 {
  position:absolute;
  left:174px;
  top:10px;
  width:1029px;
  height:572px;
}
#u5214 {
  position:absolute;
  left:2px;
  top:278px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
