body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:609px;
}
#u6153 {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:609px;
}
#u6154 {
  position:absolute;
  left:2px;
  top:296px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
