body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:431px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2552 {
  position:absolute;
  left:676px;
  top:393px;
  width:849px;
  height:431px;
}
#u2553 {
  position:absolute;
  left:2px;
  top:208px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2554 {
  position:absolute;
  left:10px;
  top:22px;
  width:1190px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2555 {
  position:absolute;
  left:0px;
  top:2px;
  width:1190px;
  word-wrap:break-word;
}
#u2556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2556 {
  position:absolute;
  left:10px;
  top:62px;
  width:119px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2557 {
  position:absolute;
  left:0px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2558 {
  position:absolute;
  left:20px;
  top:102px;
  width:225px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2559 {
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u2560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2560 {
  position:absolute;
  left:10px;
  top:322px;
  width:394px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:6px;
  width:394px;
  word-wrap:break-word;
}
#u2562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2562 {
  position:absolute;
  left:20px;
  top:127px;
  width:426px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2563 {
  position:absolute;
  left:2px;
  top:4px;
  width:422px;
  word-wrap:break-word;
}
#u2564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2564 {
  position:absolute;
  left:20px;
  top:202px;
  width:426px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2565 {
  position:absolute;
  left:2px;
  top:4px;
  width:422px;
  word-wrap:break-word;
}
#u2566 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2567 {
  position:absolute;
  left:20px;
  top:377px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2568 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2570 {
  position:absolute;
  left:20px;
  top:405px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2571 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2573 {
  position:absolute;
  left:20px;
  top:432px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2574 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2576 {
  position:absolute;
  left:20px;
  top:460px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2577 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2579 {
  position:absolute;
  left:20px;
  top:487px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2580 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2582 {
  position:absolute;
  left:20px;
  top:515px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2583 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2584 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2585 {
  position:absolute;
  left:20px;
  top:543px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2586 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2587 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2588 {
  position:absolute;
  left:20px;
  top:570px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2589 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2591 {
  position:absolute;
  left:20px;
  top:598px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2592 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2594 {
  position:absolute;
  left:20px;
  top:625px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2595 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2596 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2597 {
  position:absolute;
  left:20px;
  top:653px;
  width:384px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2598 {
  position:absolute;
  left:2px;
  top:2px;
  width:380px;
  word-wrap:break-word;
}
#u2599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2599 {
  position:absolute;
  left:371px;
  top:545px;
  width:26px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2600 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2602 {
  position:absolute;
  left:71px;
  top:327px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2603 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2604 {
  position:absolute;
  left:171px;
  top:327px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2605 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2606 {
  position:absolute;
  left:394px;
  top:379px;
  width:26px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2607 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2609 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u2610 {
  position:absolute;
  left:332px;
  top:401px;
  width:150px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u2611 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:6px;
}
#u2612 {
  position:absolute;
  left:401px;
  top:395px;
  width:13px;
  height:6px;
  text-align:left;
}
#u2613 {
  position:absolute;
  left:10px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2614 {
  position:absolute;
  left:723px;
  top:429px;
  width:394px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2615 {
  position:absolute;
  left:0px;
  top:6px;
  width:394px;
  word-wrap:break-word;
}
#u2616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  position:absolute;
  left:786px;
  top:434px;
  width:100px;
  height:25px;
}
#u2618 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2619 {
  position:absolute;
  left:886px;
  top:434px;
  width:100px;
  height:25px;
}
#u2620 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2621 {
  position:absolute;
  left:886px;
  top:459px;
  width:100px;
  height:25px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  position:absolute;
  left:986px;
  top:459px;
  width:100px;
  height:25px;
}
#u2624 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2625 {
  position:absolute;
  left:1086px;
  top:459px;
  width:100px;
  height:25px;
}
#u2626 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:240px;
}
#u2627 {
  position:absolute;
  left:749px;
  top:502px;
  width:734px;
  height:239px;
  text-align:left;
}
#u2628 {
  position:absolute;
  left:2px;
  top:40px;
  width:730px;
  word-wrap:break-word;
}
#u2629 {
  position:absolute;
  left:271px;
  top:340px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u2629_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:834px;
  height:8px;
}
#u2629_seg1 {
  position:absolute;
  left:826px;
  top:-4px;
  width:8px;
  height:57px;
}
#u2629_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2629_seg3 {
  position:absolute;
  left:820px;
  top:40px;
  width:20px;
  height:20px;
}
#u2630 {
  position:absolute;
  left:392px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2631 {
  position:absolute;
  left:20px;
  top:177px;
  width:225px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2632 {
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u2633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2633 {
  position:absolute;
  left:20px;
  top:227px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2634 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2635 {
  position:absolute;
  left:20px;
  top:152px;
  width:225px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2636 {
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u2637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2637 {
  position:absolute;
  left:80px;
  top:227px;
  width:1097px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2638 {
  position:absolute;
  left:2px;
  top:4px;
  width:1093px;
  word-wrap:break-word;
}
#u2639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u2639 {
  position:absolute;
  left:1134px;
  top:284px;
  width:37px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u2640 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u2642 {
  position:absolute;
  left:1225px;
  top:248px;
  width:219px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u2643 {
  position:absolute;
  left:2px;
  top:36px;
  width:215px;
  word-wrap:break-word;
}
#u2644 {
  position:absolute;
  left:1171px;
  top:292px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u2644_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u2644_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2644_seg2 {
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2645 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
