body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26114_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:27px;
}
#u26114 {
  position:absolute;
  left:16px;
  top:36px;
  width:5px;
  height:22px;
  font-size:14px;
}
#u26115 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u26116 {
  position:absolute;
  left:31px;
  top:40px;
  width:73px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u26117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u26118 {
  position:absolute;
  left:15px;
  top:9px;
  width:129px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u26119 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26120 {
  position:absolute;
  left:38px;
  top:75px;
  width:106px;
  height:45px;
}
#u26121 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u26122_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:68px;
  height:25px;
}
#u26122 {
  position:absolute;
  left:144px;
  top:93px;
  width:56px;
  height:5px;
}
#u26123 {
  position:absolute;
  left:2px;
  top:-6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26124 {
  position:absolute;
  left:201px;
  top:73px;
  width:104px;
  height:45px;
}
#u26125 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u26126_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:68px;
  height:25px;
}
#u26126 {
  position:absolute;
  left:305px;
  top:95px;
  width:56px;
  height:5px;
}
#u26127 {
  position:absolute;
  left:2px;
  top:-6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26128 {
  position:absolute;
  left:361px;
  top:75px;
  width:104px;
  height:45px;
}
#u26129 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u26130_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:68px;
  height:25px;
}
#u26130 {
  position:absolute;
  left:466px;
  top:95px;
  width:56px;
  height:5px;
}
#u26131 {
  position:absolute;
  left:2px;
  top:-6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26132 {
  position:absolute;
  left:70px;
  top:180px;
  width:650px;
  height:250px;
  overflow:hidden;
}
#u26132_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26133 {
  position:absolute;
  left:0px;
  top:20px;
  width:600px;
  height:95px;
}
#u26134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u26134 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u26135 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u26136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u26136 {
  position:absolute;
  left:40px;
  top:0px;
  width:135px;
  height:30px;
}
#u26137 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u26138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26138 {
  position:absolute;
  left:175px;
  top:0px;
  width:60px;
  height:30px;
}
#u26139 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u26140 {
  position:absolute;
  left:235px;
  top:0px;
  width:360px;
  height:30px;
}
#u26141 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  word-wrap:break-word;
}
#u26142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u26142 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:30px;
}
#u26143 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u26144 {
  position:absolute;
  left:40px;
  top:30px;
  width:135px;
  height:30px;
}
#u26145 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u26146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26146 {
  position:absolute;
  left:175px;
  top:30px;
  width:60px;
  height:30px;
}
#u26147 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u26148 {
  position:absolute;
  left:235px;
  top:30px;
  width:360px;
  height:30px;
}
#u26149 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u26150 {
  position:absolute;
  left:0px;
  top:60px;
  width:40px;
  height:30px;
}
#u26151 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u26152 {
  position:absolute;
  left:40px;
  top:60px;
  width:135px;
  height:30px;
}
#u26153 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u26154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26154 {
  position:absolute;
  left:175px;
  top:60px;
  width:60px;
  height:30px;
}
#u26155 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u26156 {
  position:absolute;
  left:235px;
  top:60px;
  width:360px;
  height:30px;
}
#u26157 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26158 {
  position:absolute;
  left:14px;
  top:57px;
  width:100px;
  height:16px;
}
#u26159 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26158_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26160 {
  position:absolute;
  left:14px;
  top:89px;
  width:100px;
  height:16px;
}
#u26161 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26162 {
  position:absolute;
  left:249px;
  top:54px;
  width:300px;
  height:22px;
}
#u26162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26162_input:disabled {
  color:grayText;
}
#u26163 {
  position:absolute;
  left:249px;
  top:85px;
  width:300px;
  height:22px;
}
#u26163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26163_input:disabled {
  color:grayText;
}
#u26132_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:250px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26132_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26164 {
  position:absolute;
  left:10px;
  top:32px;
  width:107px;
  height:16px;
  font-size:14px;
}
#u26165 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u26166 {
  position:absolute;
  left:112px;
  top:29px;
  width:200px;
  height:25px;
}
#u26166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26167 {
  position:absolute;
  left:395px;
  top:202px;
  width:38px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26168 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u26169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26169 {
  position:absolute;
  left:10px;
  top:170px;
  width:73px;
  height:16px;
  font-size:14px;
}
#u26170 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u26171 {
  position:absolute;
  left:111px;
  top:168px;
  width:370px;
  height:72px;
}
#u26171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26172 {
  position:absolute;
  left:10px;
  top:71px;
  width:86px;
  height:16px;
  font-size:14px;
}
#u26173 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u26174 {
  position:absolute;
  left:109px;
  top:64px;
  width:377px;
  height:95px;
}
#u26175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u26175 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u26176 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  word-wrap:break-word;
}
#u26177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u26177 {
  position:absolute;
  left:32px;
  top:0px;
  width:80px;
  height:30px;
}
#u26178 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u26179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26179 {
  position:absolute;
  left:112px;
  top:0px;
  width:60px;
  height:30px;
}
#u26180 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u26181 {
  position:absolute;
  left:172px;
  top:0px;
  width:200px;
  height:30px;
}
#u26182 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u26183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u26183 {
  position:absolute;
  left:0px;
  top:30px;
  width:32px;
  height:30px;
}
#u26184 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u26185 {
  position:absolute;
  left:32px;
  top:30px;
  width:80px;
  height:30px;
}
#u26186 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u26187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26187 {
  position:absolute;
  left:112px;
  top:30px;
  width:60px;
  height:30px;
}
#u26188 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u26189 {
  position:absolute;
  left:172px;
  top:30px;
  width:200px;
  height:30px;
}
#u26190 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u26191 {
  position:absolute;
  left:0px;
  top:60px;
  width:32px;
  height:30px;
}
#u26192 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u26193 {
  position:absolute;
  left:32px;
  top:60px;
  width:80px;
  height:30px;
}
#u26194 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u26195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26195 {
  position:absolute;
  left:112px;
  top:60px;
  width:60px;
  height:30px;
}
#u26196 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u26197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u26197 {
  position:absolute;
  left:172px;
  top:60px;
  width:200px;
  height:30px;
}
#u26198 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26199 {
  position:absolute;
  left:114px;
  top:101px;
  width:80px;
  height:16px;
}
#u26200 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u26199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26201 {
  position:absolute;
  left:115px;
  top:133px;
  width:80px;
  height:16px;
}
#u26202 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u26201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26203 {
  position:absolute;
  left:305px;
  top:96px;
  width:155px;
  height:22px;
}
#u26203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26203_input:disabled {
  color:grayText;
}
#u26204 {
  position:absolute;
  left:305px;
  top:127px;
  width:155px;
  height:22px;
}
#u26204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26204_input:disabled {
  color:grayText;
}
#u26205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u26205 {
  position:absolute;
  left:375px;
  top:11px;
  width:300px;
  height:54px;
  text-align:left;
}
#u26206 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u26207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26207 {
  position:absolute;
  left:522px;
  top:75px;
  width:104px;
  height:45px;
}
#u26208 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u26209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26209 {
  position:absolute;
  left:286px;
  top:460px;
  width:105px;
  height:27px;
}
#u26210 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u26211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26211 {
  position:absolute;
  left:421px;
  top:460px;
  width:105px;
  height:27px;
}
#u26212 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u26213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26213 {
  position:absolute;
  left:140px;
  top:460px;
  width:105px;
  height:27px;
}
#u26214 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u26215 {
  position:absolute;
  left:156px;
  top:164px;
  width:84px;
  height:16px;
}
#u26216 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u26215_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26217 {
  position:absolute;
  left:70px;
  top:164px;
  width:86px;
  height:16px;
  font-size:14px;
}
#u26218 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u26219 {
  position:absolute;
  left:260px;
  top:164px;
  width:84px;
  height:16px;
}
#u26220 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u26219_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
