body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:347px;
}
#u3653 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:347px;
}
#u3654 {
  position:absolute;
  left:2px;
  top:166px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u3655 {
  position:absolute;
  left:197px;
  top:227px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u3656 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
