body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20283 {
  position:absolute;
  left:3px;
  top:10px;
  width:231px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20284 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u20285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:242px;
}
#u20285 {
  position:absolute;
  left:3px;
  top:38px;
  width:797px;
  height:242px;
}
#u20286 {
  position:absolute;
  left:2px;
  top:113px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20287 {
  position:absolute;
  left:3px;
  top:300px;
  width:238px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20288 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u20289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20289 {
  position:absolute;
  left:3px;
  top:670px;
  width:214px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20290 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u20291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20291 {
  position:absolute;
  left:10px;
  top:1042px;
  width:214px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20292 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u20293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:322px;
}
#u20293 {
  position:absolute;
  left:3px;
  top:338px;
  width:797px;
  height:322px;
}
#u20294 {
  position:absolute;
  left:2px;
  top:153px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:322px;
}
#u20295 {
  position:absolute;
  left:3px;
  top:708px;
  width:797px;
  height:322px;
}
#u20296 {
  position:absolute;
  left:2px;
  top:153px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:300px;
}
#u20297 {
  position:absolute;
  left:3px;
  top:1080px;
  width:797px;
  height:300px;
}
#u20298 {
  position:absolute;
  left:2px;
  top:142px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
